<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="src/main/resources/report.css"/>
  <title>Reporte</title>
</head>
<body>

<div class="report-wrapper">

  <div class="report-header">
    #if ($revision.container)
      <h1> EIR # $revision.container </h1>
    #else
      <h1> EIR #N/A</h1>
    #end
    <p> Reporte de revisi&oacute;n hecho por <strong>$revision.user</strong> </p>
  </div>

  <div class="timestamp">
    <strong>Fecha y hora:</strong>
    #if ($revision.timestamp)
      $revision.timestamp
    #else
      N/A
    #end
  </div>

  <table>
    <tr>
      <td class="verticalAlignTop"><div class="general-info verticalPadding">
        <table>
          <tr>
            <td>
              <strong>Contenedor:</strong>
              #if ($revision.container)
                $revision.container
              #else
                N/A
              #end
            </td>
            <td>
              <strong>Gu&iacute;a:</strong>
              #if ($revision.guideNumber)
                $revision.guideNumber
              #else
                N/A
              #end
            </td>
          </tr>
          <tr>
            <td>
              <strong>Naviera:</strong>
              #if ($revision.shippingCo)
                $revision.shippingCo
              #else
                $revision.shippingCompany
              #end
            </td>
            <td>
              <strong>Chasis:</strong>
              #if ($revision.chassis)
                $revision.chassis
              #else
                N/A
              #end
            </td>
          </tr>
          <tr>
            <td>
              <strong>Medida:</strong>
              #if ($revision.size)
                $revision.size
              #else
                N/A
              #end
            </td>
            <td>
              <strong>Cabezal:</strong>
              #if ($revision.truckId)
                $revision.truckId
              #else
                N/A
              #end
            </td>
          </tr>
          <tr>
            <td>
              <strong>Conductor:</strong>
              #if ($revision.driver)
                $revision.driver
              #else
                N/A
              #end
            </td>
          </tr>
        </table>
      </div></td>
      <td class="verticalAlignTop"><div class="property verticalAlignTop">
        <table>
          <tr>
            <td>
              <strong>Predios:</strong>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <strong>Origen:</strong>
                  #if ($revision.origin)
                    $revision.origin
                  #else
                    N/A
                  #end
                </li>
                <li>
                  <strong>Destino:</strong>
                  #if ($revision.destination)
                    $revision.destination
                  #else
                    N/A
                  #end
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div></td>
    </tr>
  </table>

  <table>
    <tr>
      <td class="verticalAlignTop">
        <div class="md-mi">
          <table>
            <tr>
              <td>
                <strong>MD:</strong>
              </td>
              <td>
                <strong>MI:</strong>
              </td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>
                    <strong>#1/2:</strong>
                    #if ($revision.tireSeal1)
                      $revision.tireSeal1
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#3/4:</strong>
                    #if ($revision.tireSeal2)
                      $revision.tireSeal2
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#5/6:</strong>
                    #if ($revision.tireSeal3)
                      $revision.tireSeal3
                    #else
                      N/A
                    #end
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    <strong>#1/2:</strong>
                    #if ($revision.tireSeal4)
                      $revision.tireSeal4
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#3/4:</strong>
                    #if ($revision.tireSeal5)
                      $revision.tireSeal5
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#5/6:</strong>
                    #if ($revision.tireSeal6)
                      $revision.tireSeal6
                    #else
                      N/A
                    #end
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="verticalAlignTop">
        <div class="seal">
          <table>
            <tr>
              <td><strong>Marchamos:</strong></td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>
                    <strong>#1:</strong>
                    #if ($revision.seal1)
                      $revision.seal1
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#2:</strong>
                    #if ($revision.seal2)
                      $revision.seal2
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#3:</strong>
                    #if ($revision.seal3)
                      $revision.seal3
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#4:</strong>
                    #if ($revision.seal4)
                      $revision.seal4
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#5:</strong>
                    #if ($revision.seal5)
                      $revision.seal5
                    #else
                      N/A
                    #end
                  </li>
                  <li>
                    <strong>#6:</strong>
                    #if ($revision.seal6)
                      $revision.seal6
                    #else
                      N/A
                    #end
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <div> ## Observations
    <strong>Observaci&oacute;n:</strong>
    #if ($revision.observations)
      $revision.observations
    #else
      N/A
    #end
  </div>

  <br/>

  <table>
    <tr>
      <td class="verticalAlignTop">
        <div class="damages">
          <h2>Da&ntilde;os</h2>
          <table>
            <tr>
              <td>
                <div class="damages-wrapper">
                  #if ($revision.damages)
                    #if ($revision.damages.left)
                      <h3> Izquierda </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.left)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.inside)
                      <h3> Dentro </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.inside)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.right)
                      <h3> Derecha </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.right)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.chassis_front)
                      <h3> Chasis frente </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.chassis_front)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.chassis_up)
                      <h3> Chasis arriba </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.chassis_up)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.chassis_back)
                      <h3> Chasis atr&aacute;s </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.chassis_back)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.chassis_side)
                      <h3> Chasis lado </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.chassis_side)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.front)
                      <h3> Frente </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.front)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.roof)
                      <h3> Techo </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.roof)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.back)
                      <h3> Atr&aacute;s </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.back)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                    #if ($revision.damages.floor)
                      <h3> Piso </h3>
                      <table class="damages-table">
                        #foreach ($damage in $revision.damages.floor)
                          <tr>
                            <td class="td-damage-name"> - $damage.name </td>
                            #if ($damage.imageUrl)
                              <td class="td-damage-name"> <img src="data:image/png;base64,$damage.imageUrl" class="damage-image"/> </td>
                            #end
                          </tr>
                        #end
                      </table>
                    #end
                  #end
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="verticalAlignTop">
        <div class="inputOutput verticalPadding">
          <h2>Entrada/Salida</h2>
          <table> ## Input/output
            <tr>
              #if ($revision.parts)
                <td>
                  <table>
                    <thead>
                    <tr>
                      <th class="part">Parte</th>
                      <th class="input">Entrada</th>
                      <th class="output">Salida</th>
                    </tr>
                    </thead>
                    <tbody>
                      #foreach ($part in $revision.parts)
                      <tr>
                        <td>$part.name</td>
                        <td class="input">
                          #if($part.in)
                            <span>S&iacute;</span>
                          #else
                            <span>No</span>
                          #end
                        </td>
                        <td class="output">
                          #if($part.out)
                            <span>S&iacute;</span>
                          #else
                            <span>No</span>
                          #end
                        </td>
                      </tr>
                      #end
                    </tbody>
                  </table>
                </td>
              #else
                <td> N/A </td>
              #end
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
