table {
  font-family: arial, sans-serif;
}

.timestamp {
  display: inline-block;
  width: 100%;
  text-align: right;
}

td {
  padding-left: 0;
  border-spacing: 0;
}

.general-info {
  width: 400px;
}

.general-info table {
  width: 400px;
  border-spacing: 0;
}

.property {
  width: 200px;
}

.property table {
  width: 200px;
}

.md-mi {
  width: 400px;
}

.md-mi table {
  width: 400px;
}

.md-mi ul, .seal ul, .property ul {
  list-style-type:none;
}

.seal {
  width: 200px;
}

.seal table {
  width: 200px;
}

.damages {
  width: 400px;
}

.inputOutput {
  width: 300px;
}

.inputOutput th {
  text-align: center;
}

.inputOutput th {
  text-align: center;
}

.verticalPadding td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.inputOutput th.part {
  width: 100px;
}

.inputOutput td.input, .inputOutput td.output {
  text-align: center;
}

.inputOutput th.input, .inputOutput th.output {
  width: 70px;
}

.table-margin-bottom{
  margin-bottom: 600px;
}

.damages-table {
  width: 200px;
}

.verticalAlignTop {
  vertical-align: top;
}

.row-padding-right {
  padding-right: 150px;
}

#parts-out-row {
  padding-right: 100px;
}

.gash-logo {
  height: auto;
  width: 300px;
}

.report-header {
  text-align: center;
}

.td-damage {
  float: right;
}

.damage {
  width: 80px;
  height: auto;
}

.td-damage-name {
  width: 80px;
}

.damage-image {
  width: 200px;
  float: right;
}